<div class="to-do-list-container">
  <div class="to-do-list-content">
    <form (submit)="addTask()" class="insert-to-do">
      <input type="text" [(ngModel)]="newTask" name="task" />
      <input type="submit" value="+" />
    </form>

    <ul class="list-container">
      <p *ngIf="list.length < 1">Nessuna task presente!</p>
      <li *ngFor="let todo of list; let i = index">
        <p class="info-message" *ngIf="!todo.edit">{{ todo.title }}</p>
        <input
          type="text"
          *ngIf="todo.edit"
          value="{{ todo.title }}"
          [(ngModel)]="taskEdited"
        />
        <div class="edit-buttons" *ngIf="todo.edit">
          <button (click)="editTaskTitle(i)">Conferma</button>
          <button (click)="changeEditStatus(i, false)">Annulla</button>
        </div>
        <div *ngIf="!todo.edit" class="standard-buttons">
          <button (click)="changeEditStatus(i, true)">Modifica</button>
          <button (click)="deleteTask(i)">Cancella</button>
        </div>
      </li>
    </ul>
  </div>
</div>
