<div class="to-do-list-container">
  <div class="to-do-list-content">
    <form (submit)="addTask()" class="insert-to-do">
      <input type="text" [(ngModel)]="newTask" name="task" />
      <input type="submit" value="+" />
    </form>

    <ul class="list-container">
      <p class="info-message" *ngIf="list.length < 1">Nessuna task presente!</p>
      <li *ngFor="let todo of list; let i = index">
        <p (click)="changeStatus(i)" *ngIf="!todo.edit">
          {{ todo.completed ? " ✓" : "" }}

          <span
            [ngStyle]="{
              textDecorationLine: todo.completed ? 'line-through' : ''
            }"
          >
            {{ todo.title }}
          </span>
        </p>
        <input
          class="edit-input"
          type="text"
          *ngIf="todo.edit"
          value="{{ todo.title }}"
          [(ngModel)]="list[i].title"
        />
        <div class="edit-buttons" *ngIf="todo.edit">
          <button (click)="changeEditStatus(i, false)">Annulla</button>
          <button
            [disabled]="todo.originalTitle === todo.title"
            [ngStyle]="{
              filter: todo.originalTitle === todo.title ? 'grayscale(1)' : ''
            }"
            (click)="editTaskTitle(i)"
          >
            Conferma
          </button>
        </div>
        <div *ngIf="!todo.edit" class="standard-buttons">
          <button (click)="changeEditStatus(i, true)">Modifica</button>
          <button (click)="deleteTask(i)">Cancella</button>
        </div>
      </li>
    </ul>
  </div>
</div>
